<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>First</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].first %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Last</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].last %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Email</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].email %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h2>Phone</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].phone %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>
    <h2>Stores</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].stores %> :  <%= results[4][i].count %></li>
    <% } %>
    </ul>
    <h2>Rate</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].rate %> :  <%= results[5][i].count %></li>
    <% } %>
    </ul>
    <h2>Recommend</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].recommend %> :  <%= results[6][i].count %></li>
    <% } %>
    </ul>
    <h2>Chatbox</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
        <li><%= results[7][i].chatbox %> :  <%= results[7][i].count %></li>
    <% } %>
    </ul>
    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[8].length; i++){ %>
        <li><%= results[8][i].comments %> :  <%= results[8][i].count %></li>
    <% } %>
    </ul>
</body>
</html>
